
#root{
    padding:0px;
}

body {
    background-color: rgb(21,22,24) ;
}

.bg-primary-black {
    background-color: rgb(10,11,13) ;
}

.hero-margin-top {
    margin-top: 55px;
    padding-top: 50px;
} 